# Ignorar carpetas de compilación y binarios
.no_github/

# Archivos temporales y de logs
*.log
*.out
*.exe
*.app
*.o
*.so
*.a

# Carpetas de IDEs y OS
.vscode/
.idea/
*.swp
.DS_Store
*.bak

# Excepciones: siempre trackear fuentes y scripts
!*.nim
!*.fcpp
!*.sh
!LICENSE.txt
!src/**
!tests/**
