# Forzar LF en todos los archivos de texto
* text=auto eol=lf

# Ignorar archivos generados de tests
tests/** linguist-vendored

# Código Nim
src/**/*.nim    linguist-language=Nim

# Código C++ Flow (fcpp)
tests/**/*.fcpp linguist-language=C++
